* {
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;

}

header {
    color: #989D9C;
    margin-left: 76px;
    margin-top: 44px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    cursor: pointer;
    margin-bottom: 144px;



}

.link-header {
    margin-right: 23px;
    
}

.link-header:hover {
    opacity: .4;
}

.link-button {
    margin-left: 23px;
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    background-color: #665AE1;
    color: #FFFFFF;
    border: none;
    cursor: pointer;


}

main {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

button:hover {
    opacity: .4;
}

button:active {
    opacity: .8;
}

section {
    display: inline-block;
    margin-left: 86px;
    margin-top: 144px;




}

h1 {
   
    font-size: 100px;
    font-weight: 900;
    line-height: 121.9px;
    color: #515151;



}

h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 70.7px;
    color: #515151;


}

p {
    width: 515px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-explore {
    width: 239px;
    height: 64px;
    border-radius: 50px;
    background-color: #ADFF00;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;





}